/* 
=============
HEADER CSS START
=============
*/
.header {
  top: 0;
  width: 100%;
  min-height: 97px;
  padding: 0 150px;
  position: sticky;

  font-size: 12px;
  font-weight: 700;
  line-height: 15px;

  color: var(--clr-primary);
  background-color: white;
  font-family: var(--ff-montserrat);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.05);

  display: grid;
  column-gap: 3rem;
  align-items: center;
  grid-template-columns: auto 3fr minmax(124px, auto);
}

.header > h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
  user-select: none;
  font-style: normal;
  font-family: var(--ff-pattaya);
}

.navbar {
  display: grid;
  column-gap: 1rem;
  align-items: center;
  grid-template-columns: 1fr auto;
}

.links-wrapper {
  display: flex;
  column-gap: 1rem;
}

.navbar-link {
  text-decoration: none;
  color: var(--clr-primary);
}

.mode-container {
  display: flex;
  margin-left: auto;
  column-gap: 0.5rem;
  align-items: center;
}

.mode {
  width: 44px;
  height: 22px;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  border-radius: 1rem;
  background: #858484;
  border: 2px solid #a7a7a7;
}

.dark {
  background-color: white;
}

.mode span {
  top: 50%;
  left: 1.5px;
  width: 16px;
  height: 16px;
  transition: 0.5s;
  position: absolute;
  border-radius: 100%;
  background-color: white;
  transform: translateY(-50%);
}

.dark span {
  left: auto;
  right: 1.5px;
  background-color: #858484;
}
