@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Pattaya&family=Poppins:wght@600&display=swap");

*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --ff-poppins: "Poppins", sans-serif;
  --ff-montserrat: "Montserrat", sans-serif;
  --ff-pattaya: "Pattaya", sans-serif;
  --clr-primary: #333333;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  position: relative;
}
