@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Pattaya&family=Poppins:wght@600&display=swap");

*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --ff-poppins: "Poppins", sans-serif;
  --ff-montserrat: "Montserrat", sans-serif;
  --ff-pattaya: "Pattaya", sans-serif;
  --clr-primary: #333333;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  position: relative;
}

/* 
=============
HEADER CSS START
=============
*/
.header {
  top: 0;
  width: 100%;
  min-height: 97px;
  padding: 0 150px;
  position: sticky;

  font-size: 12px;
  font-weight: 700;
  line-height: 15px;

  color: var(--clr-primary);
  background-color: white;
  font-family: var(--ff-montserrat);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.05);

  display: grid;
  column-gap: 3rem;
  align-items: center;
  grid-template-columns: auto 3fr minmax(124px, auto);
}

.header > h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
  user-select: none;
  font-style: normal;
  font-family: var(--ff-pattaya);
}

.navbar {
  display: grid;
  column-gap: 1rem;
  align-items: center;
  grid-template-columns: 1fr auto;
}

/* 
=============
SEARCH BAR CSS START
=============
*/

.wrapper {
  display: flex;
  position: relative;
}

.search {
  width: 100%;
  height: 43px;
  border-radius: 6px;
  background: #fafafa;
  border: 1px solid #ececec;
  box-shadow: inset 0px 4px 19px rgba(0, 0, 0, 0.05);

  padding: 2px 23px 2px 30px;
  outline: 0;
}

.search-btn {
  border: none;
  outline: none;
  display: flex;
  cursor: pointer;
  align-items: center;
  background: transparent;
  justify-content: center;
}

.search-icon {
  top: 50%;
  left: 8px;
  font-size: 1rem;
  position: absolute;
  transform: translateY(-50%);
}

.clear-icon {
  top: 50%;
  right: 8px;
  font-size: 1rem;
  visibility: hidden;
  position: absolute;
  transform: translateY(-50%);
}

/* 
=============
SEARCH BAR CSS END
=============
*/

.links-wrapper {
  display: flex;
  column-gap: 1rem;
}

.navbar-link {
  text-decoration: none;
  color: var(--clr-primary);
}

.mode-container {
  display: flex;
  margin-left: auto;
  column-gap: 0.5rem;
  align-items: center;
}

.mode {
  width: 44px;
  height: 22px;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  border-radius: 1rem;
  background: #858484;
  border: 2px solid #a7a7a7;
}

.dark {
  background-color: white;
}

.mode span {
  top: 50%;
  left: 1.5px;
  width: 16px;
  height: 16px;
  transition: 0.5s;
  position: absolute;
  border-radius: 100%;
  background-color: white;
  transform: translateY(-50%);
}

.dark span {
  left: auto;
  right: 1.5px;
  background-color: #858484;
}

/* 
=============
MAIN BAR CSS START
=============
*/

.main {
  display: flex;
  row-gap: 2rem;
  flex-direction: column;
}

.images-container {
  padding: 2rem;
}

.images {
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.image-card {
  display: grid;
  border-radius: 2px;
  border-radius: 8px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.main-image-wrapper,
.main-image {
  cursor: pointer;
  border-radius: 8px 8px 0px 0px;
}

.main-image-wrapper {
  max-height: 300px;
}

.user {
  padding: 1rem;
  display: flex;
  column-gap: 10px;
  color: #4f4f4f;
  align-items: center;
  font-family: var(--ff-montserrat);
}

.user img {
  max-width: 39px;
  max-height: 39px;
  border-radius: 100%;
}
.user .info {
  display: flex;
  font-size: 10px;
  font-weight: 700;
  line-height: 15px;
  flex-direction: column;
}

.user .info .name {
  font-size: 12px;
}

.user .info .username {
  color: #a7a7a7;
  font-weight: 600;
  font-style: italic;
  font-family: var(--ff-poppins);
}

.user .like {
  display: flex;
  margin-left: auto;
  align-items: center;
  column-gap: 0.25rem;
  line-height: 12.19px;
}

@media screen and (max-width: 1170px) {
  .images {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 776px) {
  .images {
    grid-template-columns: auto;
  }
}

.main-search-bar {
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgb(63, 97, 97);
  background-image: url(../assets/mountain.jpg);

  display: flex;
  row-gap: 1rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.main-search-bar .heading {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  line-height: 39px;
  font-family: var(--ff-montserrat);
}

.main-search-bar .desc {
  font-size: 14px;
  font-weight: 500;
  color: #c4c4c4;
  line-height: 17px;
  font-family: var(--ff-montserrat);
}

/* 
=============
MAIN BAR CSS END
=============
*/

/* 
=============
LOADING BAR CSS START
=============
*/
.loading {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.loading img {
  max-width: 300px;
  max-height: 300px;

  animation-name: loading-img;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes loading-img {
  from {
    transform: translate(-40px);
  }
  to {
    transform: translate(40px);
  }
}
.loading p {
  font-size: 24px;
  font-weight: 700;
  max-width: 345px;
  color: #a7a7a7;
  text-align: center;
  line-height: 29.26px;
  font-family: var(--ff-montserrat);
}

/* 
=============
LOADING BAR CSS END
=============
*/

/* 
=============
ImageCardPopUp BAR CSS START
=============
*/

.popup-window {
  inset: 0;
  z-index: 200;
  display: flex;
  max-width: 100vw;
  max-height: 100vh;
  position: absolute;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.25);
}

/* 
=============
ImageCardPopUp BAR CSS END
=============
*/
